
@{
    ViewData["Title"] = "removeStudent";
}

<h1>removeStudent</h1>

@model Student


<h1>Students</h1>
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.StudentId</li>
        <li class="list-group-item">@Model.Name</li>

    </ul>
    <h1>
        student removed successfully
    </h1>

</div>